# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go
auth-api/auth-api
auth-api/vendor/
auth-api/bin/
*.exe
*.test
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
log-message-processor/.env

# Java (Spring Boot)
*.class
*.jar
*.war
*.ear
*.iml
*.log
target/
users-api/.mvn/
users-api/mvnw
users-api/mvnw.cmd

# Vue.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Terraform
# Terraform
.terraform/
**/.terraform/
.terraform.lock.hcl
**/.terraform.lock.hcl
terraform.tfstate
**/terraform.tfstate
terraform.tfstate.backup
**/terraform.tfstate.backup

# Docker
*.pid

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Misc
.env
.env.*